# Go build artifacts
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test

# Coverage files
*.out

# Dependency directories
vendor/

# IDE settings
.idea/
.vscode/

# Docker artifacts
*.log

# Built binaries
cmd/gophermart/gophermart
